<%= form_with model: Comment.new, id: "comment_form" do |form|%>
<div class="flex gap-2 items center">
    <%= form.url_field :url,required: true, auto_focus: true, placeholder: "https://exmaple.og", class: "flex-grow rounded" %>
    <%= form.button "Save", class: "px-3 py-2 bg-gray-100 rounded" %>
</div>
<%end%>